<div class="container-fluid">
   <div class="row" style="border: 1px solid lightgrey; border-radius: 4px;">
      <span>
         <h4>4+ star smart home devices</h4><br>Explore best-selling devices that work with Alexa
      </span><span>Page1of 12</span>
      <div id="carousel01" class="carousel slide"><!-- Carousel 1 -->
         <div class="carousel-inner">
            <div class="carousel-item active"><img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_oPFWU-xQwWdrgIxN8_H1_kmvtK8js4Z3zw&s"
                  alt="Canon Camera" class="d-block" width="100px" height="100px"></div>
            <div class="carousel-item"><img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1M_L4-UL8YvF8_nW4G5Q1Es42PlPisVFW1Q&s"
                  alt="Camera lens extension" class="d-block" width="100px" height="100px"></div>
            <div class="carousel-item"><img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFuhiGFFifeSKtc7-kmuPedxMMpDrxXIVvgQ&s"
                  alt="Mini goPro" class="d-block" width="100px" height="100px"></div>
         </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#carousel01" data-bs-slide="prev"><span
               class="carousel-control-prev-icon" aria-hidden="true"></span><span
               class="visually-hidden">Previous</span></button>
         <button class="carousel-control-next" type="button" data-bs-target="#carousel01" data-bs-slide="next"><span
               class="carousel-control-next-icon" aria-hidden="true"></span><span
               class="visually-hidden">Next</span></button>
      </div>
      <hr style="width: 95%; margin: 30px auto;">
      <div id="carousel02" class="carousel slide"><!-- Carousel 2 -->
         <div class="carousel-inner">
            <div class="carousel-item active"><img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSetoUTD0UqMJu0EzqXRk0PV9umImWtubAkHw&s"
                  alt="Headphones" class="d-block" width="100px" height="100px"></div>
            <div class="carousel-item"><img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThOHTgYtXsTqSL8g4jIxtJgY_sa18EGfNBiQ&s"
                  alt="Phone" class="d-block" width="100" height="100px"></div>
            <div class="carousel-item"><img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbhyVYrMlJGJQe2yg-_Ik1OEfEk-TRrCKDNg&s"
                  alt="Outoor Patio" class="d-block" width="100" height="100px"></div>
         </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#carousel02" data-bs-slide="prev"><span
               class="carousel-control-prev-icon" aria-hidden="true"></span><span
               class="visually-hidden">Previous</span></button>
         <button class="carousel-control-next" type="button" data-bs-target="#carousel02" data-bs-slide="next"><span
               class="carousel-control-next-icon" aria-hidden="true"></span><span
               class="visually-hidden">Next</span></button>
      </div>
   </div>
</div>